<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Oferta</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <div>
            <a href="/">Strona Główna</a>
        </div>
        <div>
            <a href="oferta">Oferta</a>
        </div>
        <div>
            <a href="o-nas">O nas</a>
        </div>
        <div>
            <a href="kontakt">Kontakt</a>
        </div>
    </nav>
    <article>
        <h1>Oferta</h1>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam sequi rem quod porro error impedit rerum
                excepturi eius officia atque dignissimos necessitatibus expedita fugiat laboriosam id fugit, cumque
                quidem repellendus!Loremlorem
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, quidem veniam ducimus corporis
                veritatis officiis impedit maiores inventore, necessitatibus vel blanditiis optio voluptatibus nulla
                beatae provident nam repellendus error autem. ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam tempore enim, voluptates expedita consequuntur ipsum quam nesciunt voluptate officiis eaque
                inventore quibusdam! Veniam dolor alias voluptates possimus consequatur officiis voluptas?</p>
        </div>

        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam sequi rem quod porro error impedit rerum
                excepturi eius officia atque dignissimos necessitatibus expedita fugiat laboriosam id fugit, cumque
                quidem repellendus!Loremlorem
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, quidem veniam ducimus corporis
                veritatis officiis impedit maiores inventore, necessitatibus vel blanditiis optio voluptatibus nulla
                beatae provident nam repellendus error autem. ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam tempore enim, voluptates expedita consequuntur ipsum quam nesciunt voluptate officiis eaque
                inventore quibusdam! Veniam dolor alias voluptates possimus consequatur officiis voluptas?</p>
        </div>
        <div>
            <table border="1" style="border-collapse: collapse;">
                <tr>
                    <th>Tytuł</th>
                    <th>Cena</th>
                    <th>Czas wykonania</th>
                </tr>
                <tr>
                    <td>tworzenie strony</td>
                    <td>3000zł</td>
                    <td>2 miesiące*</td>
                </tr>
                <tr>
                    <td>tworzenie aplikacji webowej</td>
                    <td>12000zł</td>
                    <td>6 miesiące*</td>
                </tr>
                <tr>
                    <td>tworzenie aplikacji mobilnej IOS/Android</td>
                    <td>15000zł</td>
                    <td>7 miesiące*</td>
                </tr>
            </table>
        </div>
    </article>
    <footer>
        <p>Filip Andrzejczak 4D</p>
    </footer>
</body>

</html>