<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>O Firmie</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <div>
            <a href="/">Strona Główna</a>
        </div>
        <div>
            <a href="oferta">Oferta</a>
        </div>
        <div>
            <a href="o-nas">O nas</a>
        </div>
        <div>
            <a href="kontakt">Kontakt</a>
        </div>
    </nav>
    <article>
        <h1>O Firmie</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam sequi rem quod porro error impedit rerum
            excepturi eius officia atque dignissimos necessitatibus expedita fugiat laboriosam id fugit, cumque quidem
            repellendus!Loremlorem
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, quidem veniam ducimus corporis veritatis
            officiis impedit maiores inventore, necessitatibus vel blanditiis optio voluptatibus nulla beatae provident
            nam
            repellendus error autem. ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore enim,
            voluptates
            expedita consequuntur ipsum quam nesciunt voluptate officiis eaque inventore quibusdam! Veniam dolor alias
            voluptates possimus consequatur officiis voluptas?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam sequi rem quod porro error impedit rerum
            excepturi eius officia atque dignissimos necessitatibus expedita fugiat laboriosam id fugit, cumque quidem
            repellendus!Loremlorem
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, quidem veniam ducimus corporis veritatis
            officiis impedit maiores inventore, necessitatibus vel blanditiis optio voluptatibus nulla beatae provident
            nam
            repellendus error autem. ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore enim,
            voluptates
            expedita consequuntur ipsum quam nesciunt voluptate officiis eaque inventore quibusdam! Veniam dolor alias
            voluptates possimus consequatur officiis voluptas?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam sequi rem quod porro error impedit rerum
            excepturi eius officia atque dignissimos necessitatibus expedita fugiat laboriosam id fugit, cumque quidem
            repellendus!Loremlorem
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, quidem veniam ducimus corporis veritatis
            officiis impedit maiores inventore, necessitatibus vel blanditiis optio voluptatibus nulla beatae provident
            nam
            repellendus error autem. ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore enim,
            voluptates
            expedita consequuntur ipsum quam nesciunt voluptate officiis eaque inventore quibusdam! Veniam dolor alias
            voluptates possimus consequatur officiis voluptas?</p>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 4</div>
                <img src="/static/images/noradrenaline.jpg" alt="Ci">
                <div class="text">Ci...</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 4</div>
                <img src="/static/images/mango.jpg" alt="Którzy">
                <div class="text">Którzy...</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 4</div>
                <img src="/static/images/those_who_know.jpg" alt="wiedzą...">
                <div class="text">Wiedzą...</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 4</div>
                <img src="/static/images/mesi.jpg" alt="goat">
                <div class="text">Goat</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
    </article>
    <footer>
        <p>Filip Andrzejczak 4D</p>
    </footer>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</body>

</html>